<!DOCTYPE html>
<html>
<head>
  <title>Список заказов</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>
<h1>Список заказов</h1>
<table>
  <tr>
    <th>ID</th>
    <th>ФИО отправителя</th>
    <th>Город отправителя</th>
    <th>Адрес отправителя</th>
    <th>ФИО получателя</th>
    <th>Город получателя</th>
    <th>Адрес получателя</th>
    <th>Вес посылки</th>
    <th>Дата отправки</th>
    <!-- Добавьте другие необходимые столбцы -->
  </tr>
  <!-- Используйте цикл для вывода информации о каждом заказе -->
  <tr th:each="order : ${orders}">
    <td th:text="${order.id}"></td>
    <td th:text="${order.nameOfTheSender}"></td>
    <td th:text="${order.senderCity}"></td>
    <td th:text="${order.senderAddress}"></td>
    <td th:text="${order.nameOfTheRecipient}"></td>
    <td th:text="${order.recipientCity}"></td>
    <td th:text="${order.recipientAddress}"></td>
    <td th:text="${order.packageWeight}"></td>
    <td th:text="${order.sendingDate}"></td>
    <!-- Добавьте другие столбцы, соответствующие полям заказа -->
  </tr>
</table>
</body>
</html>







